## define common variables such as
#macro( license )
#if ($isASL2)
#set( $YEAR = $date.getYear() + 1900)
#set($EntitySearcher=$EntitySearcher.class.forName('org.semanticweb.owlapi.search.EntitySearcher'))##

/*
	Copyright $YEAR $License-holder

	See the NOTICE file distributed with this work for additional
	information regarding copyright ownership

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	  http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 */
#end
## =========== get the package for the ontology
#macro(package $ontology)##
${PackageBase}.${ontology.getOntologyID().getOntologyIRI().get().getFragment().toLowerCase()}##
#end
## =========== Make First Letter of a string uppercase
#macro( toFirstUpperCase $str)
#if( $str.length() > 0)
${str.substring(0, 1).toUpperCase()}##
#end
#if( $str.length() > 1)
${str.substring(1)}##
#end
#end
## =========== Remove any possible extension
#macro( removeExt $str)
#if ($str.lastIndexOf(".")< 0)
$str.toLowerCase().replace(" ", "")##
#else
$str.substring(0,$str.lastIndexOf(".")).toLowerCase().replace(" ", "")##
#end
#end
## =========== get the Ontology's java Class name
#macro( ontClassName $ontology)##
#toFirstUpperCase("#removeExt(${ontology.getOntologyID().getOntologyIRI().get().getFragment()})Ontology")##
#end
## =========== get the Ontology's java factory Class name
#macro( ontFactory $ontology)##
#toFirstUpperCase("#removeExt(${ontology.getOntologyID().getOntologyIRI().get().getFragment()})Factory")##
#end
#end
## =========== resolve URI with NAMESPACE, if possible
#macro( resolveURI $URI $ontology)
#set( $ontNAMESPACE = "${ontology.getOntologyID().getOntologyIRI().get().getNamespace()}")
#if( $URI.startsWith($ontNAMESPACE))
#ontClassName($ontology) + "$URI.substring($ontNAMESPACE.length())"
#else
"$URI"##
#end
#end
## =========== get the java className for a given Ont Class
#macro( className $class)
#toFirstUpperCase("${class.getIRI().getFragment()}")##
#end
## =========== get the Attribute string reffering to a property
#macro( propVar $prop)##
#if(${prop.getProperty().getNamedProperty().getIRI().getFragment().toUpperCase()})
PROP_${prop.getProperty().getNamedProperty().getIRI().getFragment().toUpperCase()}##
#end
#end
## =========== determine if class corresponds to an enumeration, returns "true" iif it is an enumeration.
#macro( isEnumeration $class)##
#set( $res = "false")
#foreach($a in ${ontology.getAxioms($class,$Imports.EXCLUDED)})
	#if ($a.isOfType($AxiomType.EQUIVALENT_CLASSES))
		#foreach ($ce in ${a.getClassExpressions()})
			#if (${ce.getClass().getName()} == "org.semanticweb.owlapi.model.OWLObjectOneOf" )
				#set( $res = "true")
			#end
		#end
	#end
#end
$res
#end
## =========== determine the enumeration idividuals,
## returns nothing, sets the varible $enum as an array list of namedindividuals.
#macro( getEnum $class)##
#set( $enum = [])
#foreach($a in ${ontology.getAxioms($class,$Imports.EXCLUDED)})
	#if ($a.isOfType($AxiomType.EQUIVALENT_CLASSES))
		#foreach ($ce in ${a.getClassExpressions()})
			#if (${ce.getClass().getName()} == "org.semanticweb.owlapi.model.OWLObjectOneOf" )
				#foreach( $ind in ${ce.getIndividuals()})
					#set( $exec = ${enum.add($ind)})
				#end
			#end
		#end
	#end
#end
#end
## ============ template stamp
#macro ( templateStamp)
Created on $date using ${project.getMainModel().getName()} template, version ${project.getMainModel().getVersion()}
#end