## define common variables such as
#macro( license )
#if ($isASL2)
#set( $YEAR = $Date.getYear() + 1900)
/*
	Copyright $YEAR $License-holder

	See the NOTICE file distributed with this work for additional
	information regarding copyright ownership

	Licensed under the Apache License, Version 2.0 (the "License");
	you may not use this file except in compliance with the License.
	You may obtain a copy of the License at

	  http://www.apache.org/licenses/LICENSE-2.0

	Unless required by applicable law or agreed to in writing, software
	distributed under the License is distributed on an "AS IS" BASIS,
	WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
	See the License for the specific language governing permissions and
	limitations under the License.
 */
#end
## =========== get the package for the ontology
#macro( package $ontology)##
${PackageBase}.${ontology.getOntologyID().getOntologyIRI().get().getFragment().toLowerCase()}
#end
## =========== get the Ontology's java Class name
#macro( ontClassName $ontology)##
##TODO ensure first letter is upper case.
${ontology.getOntologyID().getOntologyIRI().get().getFragment()}Ontology
#end
## =========== get the Ontology's java factory Class name
#macro( ontFactory $ontology)##
##TODO ensure first letter is upper case.
${ontology.getOntologyID().getOntologyIRI().get().getFragment()}Factory
#end
#end
## =========== resolve URI with NAMESPACE, if possible
#macro( resolveURI $URI $ontology)
#set( $ontNAMESPACE = "${ontology.getOntologyID().getOntologyIRI().get().getNamespace()}")
#if( $URI.startsWith($ontNAMESPACE))
#ontClassName($ontology) + "$URI.substring($ontNAMESPACE.length())"
#else
"$URI"
#end
#end
## =========== get the java className for a given Ont Class
#macro( className $class)## TODO ensure first letter is upper case
${class.getIRI().getFragment()}
#end
## =========== get the Attribute string reffering to a property
#macro( propVar $prop)##
PROP_${prop.getProperty().getNamedProperty().getIRI().getFragment().toUpperCase()}
#end
## =========== determine if class corresponds to an enumeration, returns "true" iif it is an enumeration.
#macro( isEnumeration $class)##
#set( $res = "false")
#foreach($a in ${ontology.getAxioms($class)})
	#if ($a.isOfType($AxiomType.EQUIVALENT_CLASSES))
		#foreach ($ce in ${a.getClassExpressions()})
			#if (${ce.getClass().getName()} == "org.semanticweb.owlapi.model.OWLObjectOneOf" )
				#set( $res = "true")
			#end
		#end
	#end
#end
$res
#end
## =========== determine the enumeration idividuals,
## returns nothing, sets the varible $enum as an array list of namedindividuals.
#macro( getEnum $class)##
#set( $enum = [])
#foreach($a in ${ontology.getAxioms($class)})
	#if ($a.isOfType($AxiomType.EQUIVALENT_CLASSES))
		#foreach ($ce in ${a.getClassExpressions()})
			#if (${ce.getClass().getName()} == "org.semanticweb.owlapi.model.OWLObjectOneOf" )
				#foreach( $ind in ${ce.getIndividuals()})
					#set( $exec = ${enum.add($ind)})
				#end
			#end
		#end
	#end
#end
#end
## ============ template stamp
#macro ( templateStamp)
Created on $Date using ${project.getMainModel().getName()} template, version ${project.getMainModel().getVersion()}
#end
## ============= check if a classExpression is a ClassPropertyExpression
#macro( isClassPropertyExpression $typeOFClassExpression)
$typeOFClassExpression == $ClassExpressionType.DATA_ALL_VALUES_FROM
		|| $typeOFClassExpression == $ClassExpressionType.OBJECT_ALL_VALUES_FROM
		|| $typeOFClassExpression == $ClassExpressionType.DATA_SOME_VALUES_FROM
		|| $typeOFClassExpression == $ClassExpressionType.OBJECT_SOME_VALUES_FROM
		|| $typeOFClassExpression == $ClassExpressionType.DATA_EXACT_CARDINALITY
		|| $typeOFClassExpression == $ClassExpressionType.OBJECT_EXACT_CARDINALITY
		|| $typeOFClassExpression == $ClassExpressionType.DATA_MIN_CARDINALITY
		|| $typeOFClassExpression == $ClassExpressionType.OBJECT_MIN_CARDINALITY
		|| $typeOFClassExpression == $ClassExpressionType.DATA_MAX_CARDINALITY
		|| $typeOFClassExpression == $ClassExpressionType.OBJECT_MAX_CARDINALITY
		|| $typeOFClassExpression == $ClassExpressionType.DATA_HAS_VALUE
		|| $typeOFClassExpression == $ClassExpressionType.OBJECT_HAS_VALUE
#end
## ============= Class Expression to Restriction
#macro ( toRestriction $classExpression)
#if ($classExpression.getClassExpressionType() == $ClassExpressionType.DATA_ALL_VALUES_FROM
		|| $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_ALL_VALUES_FROM)
new AllValuesFromRestriction( "${classExpression.getProperty().getIRI()}",
								 #toRestriction( ${classExpression.getFiller()}))
#elseif($classExpression.getClassExpressionType() == $ClassExpressionType.DATA_SOME_VALUES_FROM
		|| $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_SOME_VALUES_FROM)
new SomeValuesFromRestriction( "${classExpression.getProperty().getIRI()}",
								 #toRestriction( ${classExpression.getFiller()}))
#elseif($classExpression.getClassExpressionType() == $ClassExpressionType.DATA_EXACT_CARDINALITY
		|| $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_EXACT_CARDINALITY)
new ExactCardinalityRestriction("${classExpression.getProperty().getIRI()}", ${classExpression.getCardinality()})
#elseif($classExpression.getClassExpressionType() == $ClassExpressionType.DATA_MIN_CARDINALITY
		|| $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_MIN_CARDINALITY)
new MinCardinalityRestriction("${classExpression.getProperty().getIRI()}", ${classExpression.getCardinality()})
#elseif($classExpression.getClassExpressionType() == $ClassExpressionType.DATA_MAX_CARDINALITY
		|| $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_MAX_CARDINALITY)
new MaxCardinalityRestriction("${classExpression.getProperty().getIRI()}", ${classExpression.getCardinality()})
#elseif($classExpression.getClassExpressionType() == $ClassExpressionType.DATA_HAS_VALUE
		|| $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_HAS_VALUE)
new HasValueRestriction("${classExpression.getProperty().getIRI()}", Object) ##TODO
#elseif( $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_COMPLEMENT_OF)
new Complement( #toRestriction( ${classExpression.getOperand()}))
#elseif( $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_INTERSECTION_OF)
new Intersection()
#foreach( $operand in ${classExpression.getOperands()})
.addType(type) ##TODO!!!
#end
#elseif( $classExpression.getClassExpressionType() == $ClassExpressionType.OBJECT_UNION_OF)
new Union()
#foreach( $operand in ${classExpression.getOperands()})
.addType(type) ##TODO!!!
#end
#elseif( $classExpression.getClassExpressionType() == $ClassExpressionType.OWL_CLASS)
TypeURI.asTypeURI("${classExpression.getIRI()}")
#end
#end