#parse('common.vm')
#license()
package ${PackageBase};

import org.universAAL.middleware.rdf.Resource;
import org.universAAL.middleware.rdf.ResourceFactory;
import #package($ontology).*;

/**
 * Factory Class for ${ontology.getOntologyID().getOntologyIRI().get().getFragment()} Ontology.
 * #templateStamp()
 */
public class #ontFactory($ontology) implements ResourceFactory {

	public Resource createInstance(String classURI, String instanceURI, int factoryIndex) {
		switch (factoryIndex) {
		#foreach( $axiom in ${ontology.getAxioms()})
		#if(${axiom.isOfType($AxiomType.DECLARATION)} && ${axiom.getEntity().isOWLClass()})
		## No need to Skip Enumerations.
		case ${foreach.index}:
			return new #className(${axiom.getEntity()})(instanceURI);
		#end
		#end
		}
		return null;
	}

}
