
#set($EntitySearcher=$EntitySearcher.class.forName('org.semanticweb.owlapi.search.EntitySearcher'))##


#set($EntitySearcher=$EntitySearcher.class.forName('org.semanticweb.owlapi.search.EntitySearcher'))##


#set($axioms = $ontology.getAxioms())
#foreach ($element in $ontology.getAxioms($AxiomTypeConstants.DECLARATION))
#if(${element.getSignature().iterator().next().isOWLClass()})
#set($cls = ${element.getSignature().iterator().next().asOWLClass()})
#*
$cls
$ontology
EntitySearcher $EntitySearcher
EntitySearcherMethods $EntitySearcherMethods
$ontology.getAxioms($AxiomTypeConstants.DECLARATION)
${EntitySearcherMethods.getAnnotatins()}
*#
##$cls
##$ontology
##${EntitySearcher.getAnnotations($cls,$ontology)}
${EntitySearcher.getAnnotationAssertionAxioms($cls,$ontology)}


#end
#end